* {
    margin: 0px;
    padding: 0px;
}

body {
    background: rgb(9, 0, 41);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

#container {
    width: 90%;
    margin: 0% auto;
}
#container2 {
    width: 90%;
    margin: 0% auto;
}

header {
    background: rgb(225, 230, 236);
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    height: 100%;
    text-align: left;
    line-height: 40px;
    color: rgb(209, 14, 14);
    justify-content: start;
    display: flex;
    padding: 10px;
    
}

header div{
    display: flex;
    align-items: flex-start;
    text-align: left;
    flex-direction: column;
    margin-top: 30px;
}

header img{
    width: 140px;
    height: 150px;
    margin-right: 15px;
}

nav {
    background: rgb(4, 37, 48);
    height: 50px;
    line-height: 30px;
    border-bottom: 2px solid black;
}

nav ul li {
    float: left;
    list-style: none;
    margin: 10px;
}

nav a{
    color: white;
    text-decoration: none;
}
nav a:visited{
    color:white;
}
nav a:hover{
    color:red;
}

.clearfix {
    clear: both;
}

#content {
    float: left;
    width: calc(100% - 20px);
    background: lightblue;
    min-height: 500px;
    padding: 10px;
}

.mail-text{
    color:black;
    text-align: center;
}

.article {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    color:black;
}

.article p {
    margin-top: 10px;
}

.article ul li{
    margin-left: 3vb;
}

#tit-content{
    color:black;
    padding: 5px;
    text-align: center;
}

.profesores-section{
    display: flex;
    flex-direction: column;
}

.profesor{
    color:white;
    margin: 1% 1% 0% 0%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    border: 2px solid white;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.profesor h2{
    margin-right: 2vb;
    width: 20%;
    max-width: 20%;
    /*word-wrap: break-word;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    margin: 0;
    padding-right: 10px; 
    flex-shrink: 0;*/
}

.profesor-text{
    width: 100%;
    height: 100%;
    margin-left: 2vb;
}

.h2-p-profesor{
    display: flex;
    flex-direction: column;
}

.positivas{
    color: rgb(0, 138, 0);
}

.negativas{
    color: rgb(255, 0, 0);
}

footer {
    background: rgb(5, 1, 22);
    text-align: center;
    height: 3%;
    line-height: 15vh;
} 